@import url('fonts/inter-ui/inter-ui.css');
@import url('https://use.fontawesome.com/releases/v5.0.6/css/all.css');

html {
    font-size: 1.7em;
}

body {
    font-family: 'Inter UI', sans-serif;
    font-weight: 400;
    color: #677279;
    background: #000000;
    margin: 0;
}

.main {
    margin-left: 8px;
    padding: 8em 2em 0;
    max-width: 800px;
}

.main svg {
    width: 20px;
    height: 20px;
    float: left;
    fill: #fff;
    padding: 15px;
    background-color: #242021;
}

.details {
    margin-left: 120px;
}

h1 {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0;
    color: #fff;
}

p {
    line-height: 1em;
    font-size: 0.9em;
}

a {
    text-decoration: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    color: inherit;
    -webkit-transition: color .15s cubic-bezier(.33, .66, .66, 1);
    transition: color .15s cubic-bezier(.33, .66, .66, 1);
}

a:hover {
    color: #fff600;
}

.links {
    font-size: 1em;
    margin-bottom: 2em;
}

.links a {
    color: #677279;
    border: 0;
    margin-right: .7em;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.links a:hover {
    color: #fff600;
    background: none;
}

.fan {
    background: linear-gradient(-120deg, rgba(245,33,33,0) 87%, rgba(255,255,255,0.08) 15%),linear-gradient(-110deg, rgba(27,0,255,0) 85%, rgba(255,255,255,0.08) 15%),linear-gradient(-103deg, rgba(255,33,33,0) 84%, rgba(255,255,255,0.08) 15%),radial-gradient(circle, rgba(0,135,201,0) 0%, rgba(0,135,201,0) 100%);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

::selection {
    background: rgba(187, 187, 187, 0.3);
}

::-moz-selection {
    background: rgba(187, 187, 187, 0.3);
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 1.4em;
    }

    h1 {
        margin-top: 1em;
    }

    .main {
        padding: 1em 2em 0;
    }

    .main svg {
        float: none;
        display: block;
    }

    .details {
        margin-left: 0;
    }
}
